@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.cart-title{
    font-family: 'Anta';
    font-size: 50px !important;
    text-align: center;
    font-weight: 400;
    margin-bottom: 70px;
}
.cart-container {
    border: 1px solid #ccc;
    padding: 30px;
    margin: 20px;
    border-radius: 5px;
  }
  
  
  .cart-list {
    list-style-type: none;
    padding: 0;
  }
  
  .cart-item {
    font-family: 'Montserrat';
    font-weight: 700 !important;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .item-info {
    margin-right: 10px;
  }
  
  .item-quantity {
    position: absolute;
    left: 550px;
    margin-left: 0;
  }
  
  .item-buttons button {
    margin-left: 5px;
    cursor: pointer;
  }
  
  .quantity-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
  }
  
  .remove-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
  }
  
  .grand-total {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    font-size: 2.5em; /* Adjust the font size as needed */
    padding: 5px; /* Add padding for better visual appearance */
}

  
.proceed-to-checkout-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin: 40px 30rem;
  }
  
  .proceed-to-checkout-button:hover {
    background-color: #218838;
  }

  .empty-cart-message{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
  }
  